
.DS_Store

MIDI Middle Man.xcodeproj/project.xcworkspace/contents.xcworkspacedata

MIDI Middle Man.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/

MIDI Middle Man.xcodeproj/xcuserdata/Joe.Noel.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

MIDI Middle Man.xcodeproj/xcuserdata/Joe.Noel.xcuserdatad/xcschemes/MIDI Middle Man.xcscheme

MIDI Middle Man.xcodeproj/xcuserdata/joenoel.xcuserdatad/xcschemes/MIDI Middle Man.xcscheme

MIDI Middle Man.xcodeproj/xcuserdata/joenoel.xcuserdatad/xcschemes/xcschememanagement.plist

Sketch Overview.graffle
